.example{
    color: #fff;
    text-align: justify;
}
.example::after{
    content:'dbshnjkm,dsc';
    display: inline-block;
    width: 100%;
}
.example-item{
    display:inline-block;
    width:25%;
    height: 150px;
}
.example-item-first{
    background-color: #faa116;
}
.example-item-second{
    background-color: #57c7c3;
   
}
.example-item-third {
    background-color: #389703;
    
}
p{
    text-align: justify;
}